@using ConferenceManagerExampleApp.Models.Domains
@model ConferenceManagerExampleApp.Models.ViewModels.SubjectViewModel

@{
    ViewData["Title"] = "Manage the subjects";
}

<div class="panel panel-default room-category-panel">
    <div class="panel-heading">@ViewData["Title"]</div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Category</th>
            <th>Remove subject</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var subject in Model.SubjectModels)
        {
            <tr>
                <td>@subject.Id</td>
                <td>@subject.Title</td>
                <td>@subject.SubjectCategoryModel.Description</td>
                <td>
                    <form asp-area="" asp-controller="Subject" asp-action="RemoveSubject" method="post">
                        <input type="checkbox" class="remove-checkbox"/>
                        <input type="hidden" name="id" value="@subject.Id"/>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <div class="panel-footer add-subject-category-form">
        <a asp-controller="Subject" asp-action="AddSubject" asp-area="">Add a subject</a>
    </div>
</div>