@using ConferenceManagerExampleApp.Models.Domains
@model ConferenceManagerExampleApp.Models.ViewModels.SubjectViewModel

@{
    ViewData["Title"] = "Manage the subjects";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="panel panel-default room-category-panel">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Remove subject</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var subject in Model.SubjectModels)
        {
            <tr>
                <th scope="row">@subject.Id</th>
                <td>@subject.Title</td>
                <td>@subject.SubjectCategoryModel.Description</td>
                <td>
                    <form asp-area="" asp-controller="Subject" asp-action="RemoveSubject" method="post">
                        <input type="checkbox" class="remove-checkbox"/>
                        <input type="hidden" name="id" value="@subject.Id"/>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <div class="panel-footer add-subject-category-form">
        <button type="button" class="btn btn-primary"><a class="text-white" asp-controller="Subject" asp-action="AddSubject" asp-area="">Add a subject</a></button>
    </div>
</div>