@using ConferenceManagerExampleApp.Models.Domains
@model ConferenceManagerExampleApp.Models.ViewModels.TimeSlotViewModel

@{
    ViewData["Title"] = "Manage the time slots";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="panel panel-default room-category-panel">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Start</th>
            <th scope="col">End</th>
            <th scope="col">Room</th>
            <th scope="col">Session</th>
            <th scope="col">Remove time slot</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var timeSlot in Model.TimeSlotModels)
        {
            <tr>
                <th scope="row">@timeSlot.StartTime.ToString("G")</th>
                <th scope="row">@timeSlot.EndTime.ToString("G")</th>
                <td>@timeSlot.RoomModel.Name</td>
                <td>@timeSlot.SessionModel.Title</td>
                <td>
                    <form asp-area="" asp-controller="TimeSlot" asp-action="RemoveTimeSlot" method="post">
                        <input type="checkbox" class="remove-checkbox"/>
                        <input type="hidden" name="startTime" value="@timeSlot.StartTime"/>
                        <input type="hidden" name="endTime" value="@timeSlot.EndTime"/>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <div class="panel-footer add-subject-category-form">
        <button type="button" class="btn btn-primary"><a class="text-white" asp-controller="TimeSlot" asp-action="AddTimeSlot" asp-area="">Add a time slot</a></button>
    </div>
</div>