@using ConferenceManagerExampleApp.Models.Domains
@model ConferenceManagerExampleApp.Models.ViewModels.RoomViewModel

@{
    ViewData["Title"] = "Manage the rooms";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="panel panel-default room-category-panel">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Remove room</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var room in Model.RoomModels)
        {
            <tr>
                <th scope="row">@room.Id</th>
                <td>@room.Name</td>
                <td>@room.RoomCategoryModel.Description</td>
                <td>
                    <form asp-area="" asp-controller="Room" asp-action="RemoveRoom" method="post">
                        <input type="checkbox" class="remove-checkbox"/>
                        <input type="hidden" name="id" value="@room.Id"/>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <div class="panel-footer add-room-category-form">
        <button type="button" class="btn btn-primary"><a class="text-white" asp-controller="Room" asp-action="AddRoom" asp-area="">Add a room</a></button>
    </div>
</div>