@using ConferenceManagerExampleApp.Models.BindingModels
@using ConferenceManagerExampleApp.Models.Domains
@model ConferenceManagerExampleApp.Models.ViewModels.RoomCategoryViewModel

@{
    ViewData["Title"] = "Manage the room categories";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="panel panel-default room-category-panel">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Description</th>
            <th scope="col">Max capacity</th>
            <th scope="col">Remove room category</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var category in Model.RoomCategories)
        {
            <tr>
                <th scope="row">@category.Id</th>
                <td>@category.Description</td>
                <td>@category.MaxCapacity</td>
                <td>
                    <form asp-area="" asp-controller="RoomCategory" asp-action="RemoveRoomCategory" method="post">
                        <input type="checkbox" class="remove-checkbox"/>
                        <input type="hidden" name="id" value="@category.Id"/>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <div class="panel-footer add-room-category-form">
       <button type="button" class="btn btn-primary"><a class="text-white" asp-controller="RoomCategory" asp-action="AddRoomCategory">Add room category</a></button>
    </div>
</div>