@using ConferenceManagerExampleApp.Models.Domains
@model ConferenceManagerExampleApp.Models.ViewModels.SpeakerViewModel

@{
    ViewData["Title"] = "Manage the speakers";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="panel panel-default room-category-panel">
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Email</th>
            <th scope="col">Title</th>
            <th scope="col">Subject</th>
            <th scope="col">Remove speaker</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var speaker in Model.SpeakerModels)
        {
            <tr>
                <th scope="row">@speaker.Id</th>
                <td>@speaker.FirstName</td>
                <td>@speaker.LastName</td>
                <td>@speaker.Email</td>
                <td>@speaker.Title</td>
                <td>@speaker.SubjectModel.Title</td>
                <td>
                    <form asp-area="" asp-controller="Speaker" asp-action="RemoveSpeaker" method="post">
                        <input type="checkbox" class="remove-checkbox"/>
                        <input type="hidden" name="id" value="@speaker.Id"/>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <div class="panel-footer add-speaker-category-form">
        <button type="button" class="btn btn-primary"><a class="text-white" asp-controller="Speaker" asp-action="AddSpeaker" asp-area="">Add a speaker</a></button>
    </div>
</div>